.logo-png { 
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
}

header { 
    margin-top: 30px;
}

header h1 { 
    margin-left: 25px;
    margin-left: 25px;
}
.table-container {
    margin-top: 50px;
}
h1 {
    margin-bottom: 20px;
}
.container-content p {
    text-decoration: overline;
}
.container-date {
    margin-right: 20px;
}
.logo { 
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.header-two {
    margin-bottom: 25px;
}