/* 
div.table {
    display: table;
    width: 100px;
    background-color: lightblue;
    border-collapse: collapse;
    border: 1px solid red;
  }
  
  div.row {
    display: table-row;
  }
  
  div.cell {
    display: table-cell;
    border: 1px solid red;
  }
  
  div.colspan,
  div.colspan+div.cell {
    border: 0;
  }
  
  div.colspan>div {
    /* width: 1px; */
  /* }
  
  div.colspan>div>div {
  position: relative;
    width: 99px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
  }  */
table.timetable{
  /* width: 100%; */
  margin: 0 auto;
  /* min-width: 800px; */
}
.table-responsive{
  overflow-x: hidden;
  overflow-y: hidden;
  width: 99%;
}
.table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(114, 114, 114);
  border-radius: 20px;
  border-color: transparent;
}
.table-responsive::-webkit-scrollbar-track{
  background-color: rgb(114, 114, 114);
  border-radius: 20px;
}
.table-responsive::-webkit-scrollbar-thumb{
  background-color: rgb(26, 26, 26);
  width: 5px;
  border-radius: 20px;
}
.table-responsive::-webkit-scrollbar-button{
  width: 0;
  height: 0;
}
@media (max-width: 1000px){
  table.timetable thead th {
    /* table-layout: fixed; */
    position: sticky;
    top: -1px;
  }
  table.timetable tr td:nth-child(1){
    position: sticky;
    left: 0;
    font-style: bold;
  }
  .table-responsive{
    overflow-x: auto;
    overflow-y: auto;
    height: 80vh;
    width: 99%;
  }
}